[submodule "alphatwirl"]
	path = alphatwirl
	url = https://github.com/alphatwirl/alphatwirl.git
[submodule "fwtwirl"]
	path = fwtwirl
	url = https://github.com/TaiSakuma/fwtwirl.git
[submodule "scribblers"]
	path = scribblers
	url = https://github.com/TaiSakuma/scribblers.git
